<launch>
    <include file="$(find project11)/launch/pano.launch"><arg name="camera_number" value="1"/><arg name="camera_ip" value="192.168.100.201"/></include>
    <include file="$(find project11)/launch/pano.launch"><arg name="camera_number" value="2"/><arg name="camera_ip" value="192.168.100.202"/></include>
    <include file="$(find project11)/launch/pano.launch"><arg name="camera_number" value="3"/><arg name="camera_ip" value="192.168.100.203"/></include>
    <include file="$(find project11)/launch/pano.launch"><arg name="camera_number" value="4"/><arg name="camera_ip" value="192.168.100.204"/></include>
    <include file="$(find project11)/launch/pano.launch"><arg name="camera_number" value="5"/><arg name="camera_ip" value="192.168.100.205"/></include>
</launch>

