<launch>
    <rosparam command="load" file="$(find project11)/parameters/operator.yaml" />
    <arg name="host"/>
    <rosparam param="/operator/udp_bridge_operator/remotes/vehicle/host" subst_value="True">$(arg host)</rosparam>
    <node pkg="udp_bridge" type="udp_bridge_node" name="udp_bridge_operator" ns="operator" args="_port:=4201"/>
<!--     <node pkg="udp_bridge" type="operator_node" name="udp_bridge_operator" args="$(arg host)"/> -->
    <node pkg="range_and_bearing" type="range_and_bearing_node" name="range_and_bearing">
        <remap from="/input1" to="/base/position"/>
        <remap from="/input2" to="/udp/posmv/position"/>
    </node>
    <node pkg="command_bridge" type="command_bridge_sender_node.py" name="command_bridge_sender"/>
   
    <arg name="operator_transformations"/>
    <node if="$(arg operator_transformations)" pkg="project11_transformations" type="project11_transformations_node" name="project11_transformations"/>
    
    <arg name="operator_joystick"/>
    <node if="$(arg operator_joystick)" pkg="joy" type="joy_node" name="joy_node">
        <param name="autorepeat_rate" value="10.0"/>
    </node>
    
    <node pkg="joy_to_helm" type="joy_to_helm.py" name="joy_to_helm"/>
    
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
    <node pkg="camp" type="AutonomousMissionPlanner" name="camp"  args="$(find camp)/workspace/"/>

</launch>


