<launch>
    <param name="/use_sim_time" type="bool" value="true"/>
    <rosparam command="load" file="$(find project11)/parameters/sim_unh_pier.yaml" />

    <node pkg="udp_bridge" type="vehicle_node" name="udp_vehicle" args="localhost"/>
    <node pkg="command_bridge" type="command_bridge_receiver_node.py" name="command_bridge_receiver"/>

    <node pkg="project11_transformations" type="project11_transformations_node" name="project11_transformations"/>

    <node pkg="mission_manager" type="mission_manager_node.py" name="mission_manager" output="screen"/>

    <node pkg="dubins_curves" type="dubins_curves_node" name="dubins_curves"/>

    <node pkg="hover" type="hover_node" name="hover_action"/>

    <node pkg="path_planner" type="path_planner_node" name="path_planner"/>
    <node pkg="mpc" type="mpc_node" name="mpc"/>

    <node pkg="udp_bridge" type="operator_node" name="udp_bridge_operator" args="localhost"/>

    <node pkg="command_bridge" type="command_bridge_sender_node.py" name="command_bridge_sender"/>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
    <node pkg="camp" type="AutonomousMissionPlanner" name="camp"  args="$(find camp)/workspace/"/>

    <node pkg="asv_helm" type="asv_helm_node" name="asv_helm"/>
    <node pkg="asv_sim" type="asv_sim_node.py" name="asv_sim_node"/>
</launch>
