<launch>
  <arg name="namespace" default="ben"/>
  <arg name="operator_namespace" default="operator"/>

  <param name="/use_sim_time" type="bool" value="true"/>
  <rosparam command="load" file="$(find project11)/parameters/ben.yaml" ns="$(arg namespace)"/>

  <arg name="override_mpc" default="false"/>
  <node if="$(arg override_mpc)" pkg="path_follower" type="mpc_adapter_node" name="mpc_adapter" ns="$(arg namespace)"/>
    
  <include file="$(find project11)/launch/vehicle_core.launch">
    <arg name="host" value="localhost"/>
    <arg name="override_mpc" value="$(arg override_mpc)"/>
    <arg name="namespace" default="$(arg namespace)"/>
  </include>

  <include file="$(find project11)/launch/operator_core.launch">
    <arg name="host" value="localhost"/>
    <arg name="operator_transformations" value="0"/>
    <arg name="operator_joystick" value="1"/>
    <arg name="namespace" default="$(arg operator_namespace)"/>
  </include>

  <include file="$(find project11)/launch/operator_ui.launch">
    <arg name="namespace" default="$(arg operator_namespace)"/>
  </include>

  <node pkg="mru_transform" type="sensor_sync_node" name="sensor_sync" ns="$(arg namespace)">
    <param name="inTopicPrefix" value="sensors/oem/"/>
    <remap from="out/position" to="sensors/gps/position"/>
    <remap from="out/orientation" to="sensors/heading"/>
    <remap from="out/velocity" to="sensors/gps/velocity"/>
  </node>


  <node pkg="cw4_helm" type="cw4_helm_node" name="cw4_helm" ns="$(arg namespace)"/>
  
  <node pkg="cw4_sim" type="cw4_sim_node.py" name="cw4_sim"/>
  
</launch>


