*.pyc
logs
catkin_ws/src/project11/parameters/marine_traffic_api_key_roland.yaml
.kdev4/
*.kdev4
catkin_ws/.catkin_workspace
catkin_ws/build/
catkin_ws/devel/
catkin_ws/src/CMakeLists.txt
catkin_ws/src/local
ros/log/
ros/rosdep/
ros/rospack*
ros/roscore*
documentation/local/
log/*.bag
log/*.bag.active
