*.pyc
logs
catkin_ws/src/project11/parameters/marine_traffic_api_key_roland.yaml
.kdev4/
*.kdev4
catkin_ws/.catkin_workspace
catkin_ws/build/
catkin_ws/devel/
catkin_ws/src/CMakeLists.txt
catkin_ws/src/local
ros/
documentation/local/
log/*.bag
log/*.active
log/autostart.txt
log/log_start_roscore.txt
log/roslaunch.txt
log/start_tmux.txt
catkin_ws/.catkin_tools
