[submodule "catkin_ws/src/asv_sim"]
	path = catkin_ws/src/asv_sim
	url = ../asv_sim.git
[submodule "catkin_ws/src/asv_helm"]
	path = catkin_ws/src/asv_helm
	url = ../asv_helm.git
[submodule "catkin_ws/src/project11_transformations"]
	path = catkin_ws/src/project11_transformations
	url = ../project11_transformations.git
[submodule "catkin_ws/src/udp_bridge"]
	path = catkin_ws/src/udp_bridge
	url = ../udp_bridge.git
[submodule "catkin_ws/src/marine_msgs"]
	path = catkin_ws/src/marine_msgs
	url = ../marine_msgs.git
[submodule "catkin_ws/src/mbes_sim"]
	path = catkin_ws/src/mbes_sim
	url = ../mbes_sim.git
[submodule "catkin_ws/src/command_bridge"]
	path = catkin_ws/src/command_bridge
	url = ../command_bridge.git
[submodule "catkin_ws/src/mission_manager"]
	path = catkin_ws/src/mission_manager
	url = ../mission_manager.git
[submodule "catkin_ws/src/dubins_curves"]
	path = catkin_ws/src/dubins_curves
	url = ../dubins_curves.git
[submodule "catkin_ws/src/path_follower"]
	path = catkin_ws/src/path_follower
	url = ../path_follower.git
[submodule "catkin_ws/src/kongsberg_em_control"]
	path = catkin_ws/src/kongsberg_em_control
	url = ../kongsberg_em_control.git
[submodule "catkin_ws/src/geographic_visualization_msgs"]
	path = catkin_ws/src/geographic_visualization_msgs
	url = ../geographic_visualization_msgs.git
[submodule "catkin_ws/src/joy_to_helm"]
	path = catkin_ws/src/joy_to_helm
	url = ../joy_to_helm.git
[submodule "catkin_ws/src/hover"]
	path = catkin_ws/src/hover
	url = ../hover.git
[submodule "catkin_ws/src/path_planner"]
	path = catkin_ws/src/path_planner
	url = ../path_planner.git
[submodule "catkin_ws/src/mpc"]
	path = catkin_ws/src/mpc
	url = ../mpc.git
[submodule "catkin_ws/src/course_made_good"]
	path = catkin_ws/src/course_made_good
	url = ../course_made_good.git
[submodule "catkin_ws/src/ais"]
	path = catkin_ws/src/ais
	url = ../ais.git
[submodule "catkin_ws/src/axis_tracker"]
	path = catkin_ws/src/axis_tracker
	url = ../axis_tracker.git
[submodule "catkin_ws/src/br24_radar"]
	path = catkin_ws/src/br24_radar
	url = ../br24_radar.git
[submodule "catkin_ws/src/echo_helm"]
	path = catkin_ws/src/echo_helm
	url = ../echo_helm.git
[submodule "catkin_ws/src/flir"]
	path = catkin_ws/src/flir
	url = ../flir.git
[submodule "catkin_ws/src/kongsberg_em"]
	path = catkin_ws/src/kongsberg_em
	url = ../kongsberg_em.git
[submodule "catkin_ws/src/manda_coverage"]
	path = catkin_ws/src/manda_coverage
	url = ../manda_coverage.git
[submodule "catkin_ws/src/mbr"]
	path = catkin_ws/src/mbr
	url = ../mbr.git
[submodule "catkin_ws/src/posmv"]
	path = catkin_ws/src/posmv
	url = ../posmv.git
[submodule "catkin_ws/src/radar_obstacle_detection"]
	path = catkin_ws/src/radar_obstacle_detection
	url = ../radar_obstacle_detection.git
[submodule "catkin_ws/src/range_and_bearing"]
	path = catkin_ws/src/range_and_bearing
	url = ../range_and_bearing.git
[submodule "catkin_ws/src/seapath"]
	path = catkin_ws/src/seapath
	url = ../seapath.git
[submodule "catkin_ws/src/survey_manager"]
	path = catkin_ws/src/survey_manager
	url = ../survey_manager.git
[submodule "catkin_ws/src/traffic_sim"]
	path = catkin_ws/src/traffic_sim
	url = ../traffic_sim.git
[submodule "catkin_ws/src/zboat_helm"]
	path = catkin_ws/src/zboat_helm
	url = ../zboat_helm.git
[submodule "catkin_ws/src/camp"]
	path = catkin_ws/src/camp
	url = ../AutonomousMissionPlanner.git
[submodule "catkin_ws/src/marine_traffic_com"]
	path = catkin_ws/src/marine_traffic_com
	url = ../marine_traffic_com.git
