<launch>
    <node pkg="udp_bridge" type="vehicle_node" name="udp_vehicle"/>
    <node pkg="command_bridge" type="command_bridge_receiver_node.py" name="command_bridge_receiver"/>
    <node pkg="mission_manager" type="mission_manager_node.py" name="mission_manager"/>
    <node pkg="drix_helm" type="drix_helm_node" name="drix_helm"/>
</launch>
