<launch>
    <rosparam command="load" file="$(find project11)/parameters/mobile_lab.yaml" />
    <arg name="ais_log_dir" default="$(find ais)/logs/"/>
    <node pkg="ais" type="ais_node.py" name="ais_node" args="$(arg ais_log_dir)"/>
    
    <node pkg="axis_tracker" type="axis_tracker_node.py" name="axis_tracker" />
    <include file="$(find project11)/launch/camera_johnny5.launch" />

</launch>



