<launch>
    <rosparam command="load" file="$(find project11)/parameters/mystique.yaml" />
    <node pkg="cw4_helm" type="cw4_helm_node" name="cw4_helm"/>
    <arg name="host" default="192.168.100.199"/>
    <node pkg="udp_bridge" type="vehicle_node" name="udp_bridge_vehicle" args="$(arg host)"/>
    <node pkg="project11_transformations" type="project11_transformations_node" name="project11_transformations"/>
    <!--<node pkg="flir" type="flir_node.py" name="flir_engine"/>-->
    <include file="$(find project11)/launch/camera_color.launch" />
    <include file="$(find project11)/launch/camera_flir.launch" />
    <include file="$(find project11)/launch/camera_flir_engine.launch" />
    <node pkg="br24_radar" type="br24_radar_node.py" name="br24_radar_node"/>
    <node pkg="posmv" type="posmv_node.py" name="posmv"/>
    <!--node pkg="radar_obstacle_detection" type="radar_obstacle_detection_node.py" name="radar_obstacle_detection"/-->
    <node pkg="kongsberg_em_control" type="kongsberg_em_control_node.py" name="kongsberg_em_control"/>
    <!--node pkg="survey_manager" type="survey_manager_node" name="survey_manager"/-->
    <node pkg="command_bridge" type="command_bridge_receiver_node.py" name="command_bridge_receiver"/>
    <node pkg="kongsberg_em" type="kongsberg_em_node.py" name="kongsberg_em"/>
    <node pkg="mission_manager" type="mission_manager_node.py" name="mission_manager"/>
    <node pkg="dubins_curves" type="dubins_curves_node" name="dubins_curves"/>
    <node name="controller" pkg="pid" type="controller" ns="project11/crab_angle">
        <param name="node_name" value="crab_angle_pid" />
        <param name="Kp" value="7.5" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.03" />
        <param name="upper_limit" value="90" />
        <param name="lower_limit" value="-90" />
        <param name="windup_limit" value="10" />
    </node>
    <node pkg="path_follower" type="path_follower_node" name="path_follower"/>
    <node pkg="hover" type="hover_node" name="hover_action"/>
    <node pkg="darknet_logger" type="darknet_logger_node.py" name="darknet_logger"/>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    <node pkg="mbr" type="mbr_node.py" name="mbr_node" />

    <node pkg="rosbag" type="record" name="VLP16_logger" args="-o $(find project11)/logs/VLP16 --split --duration=1h --lz4 /velodyne_points" />
    <node pkg="rosbag" type="record" name="AIS_logger" args="-o $(find project11)/logs/AIS /contact" />       
    <node pkg="rosbag" type="record" name="base_logger" args="-o $(find project11)/logs/base /control/drive/heading_hold  /heading /heartbeat /helm /helm_mode /mission_plan /position /posmv/orientation /posmv/position /posmv/time_reference /project11/mission_manager/status /radar /sog /vehicle_status /project11" />
</launch>
