<launch>
    <rosparam command="load" file="$(find project11)/parameters/mystique.yaml" />
    <node pkg="moos_ivp_bridge" type="moos_ivp_bridge_node" name="moos_ivp_bridge"/>
    <node pkg="asv_helm" type="asv_helm_node" name="asv_helm"/>
    <node pkg="project11_transformations" type="project11_transformations_node" name="project11_transformations"/>
    <node pkg="udp_bridge" type="vehicle_node" name="udp_bridge_vehicle" args="192.168.100.255"/>
    <node pkg="remote_control" type="remote_control.py" name="remote_control" args="address=192.168.100.112"/>
    <node pkg="westmountainradio" type="west_mountain_radio_node" name="west_mountain_radio"/>
    <node pkg="flir" type="flir_node.py" name="flir_engine"/>
    <include file="$(find project11)/launch/camera_color.launch" />
    <include file="$(find project11)/launch/camera_flir.launch" />
    <include file="$(find project11)/launch/camera_flir_engine.launch" />
    <node pkg="br24_radar" type="br24_radar_node.py" name="br24_radar_node"/>
    <node pkg="posmv" type="posmv_node.py" name="posmv"/>
    <!--node pkg="radar_obstacle_detection" type="radar_obstacle_detection_node.py" name="radar_obstacle_detection"/-->
    <node pkg="kongsberg_em_control" type="kongsberg_em_control_node.py" name="kongsberg_em_control"/>
</launch>
