<launch>
    <rosparam command="load" file="$(find project11)/parameters/fairweather_observer.yaml" />
    <arg name="host" default="mystiquec"/>
    <node pkg="udp_bridge" type="operator_node" name="udp_bridge_operator" args="$(arg host)"/>
    <node pkg="posmv" type="posmv_nmea_node.py" name="posmv_nmea_node"/>
</launch>



