<launch>
    <rosparam command="load" file="$(find project11)/parameters/drix_rvgs_operator.yaml" />
    <include file="$(find project11)/launch/operator_core.launch">
        <arg name="host" default="drix-backseat"/>
        <arg name="operator_transformations" value="1"/>
        <arg name="operator_joystick" value="1"/>
    </include>
    <node pkg="posmv" type="posmv_nmea_node.py" name="posmv_nmea_node"/>

</launch>




