<launch>
    <rosparam command="load" file="$(find project11)/parameters/rvgs_operator.yaml" />
    <include file="$(find project11)/launch/operator_core.launch">
        <arg name="host" default="mystiquec"/>
        <arg name="operator_transformations" value="1"/>
        <arg name="operator_joystick" value="1"/>
    </include>
    <node pkg="flir" type="flir_decode_node.py" name="flir_decode_node"/>
    <node pkg="posmv" type="posmv_nmea_node.py" name="posmv_nmea"/>
    <node pkg="mbr" type="mbr_node.py" name="mbr_node" />
    <node pkg="mbr" type="mbr_logging.py" name="mbr_logging" />

    <include file="$(find project11)/launch/operator_loggers.launch"/>
</launch>



