<launch>
    <rosparam command="load" file="$(find project11)/parameters/fairweather_operator.yaml" />
    <arg name="host" default="mystiquec"/>
    <node pkg="udp_bridge" type="operator_node" name="udp_bridge_operator" args="$(arg host)"/>
    <node pkg="flir" type="flir_decode_node.py" name="flir_decode_node"/>
    <node pkg="posmv" type="posmv_nmea_node.py" name="posmv_nmea_node"/>
</launch>



