<launch>
  <arg name="namespace" default="operator"/>
  <arg name="robotNamespace" default="ben"/>
  <arg name="logDirectory"/>

  <rosparam command="load" file="$(find ben_project11)/config/ben_operator.yaml" ns="$(arg namespace)"/>

  <include file="$(find ben_description)/launch/load.launch">
    <arg name="namespace" value="$(arg robotNamespace)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg robotNamespace)"/>


  <include file="$(find project11)/launch/operator_core.launch">
    <arg name="operatorJoystick" value="1"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
  </include>

  <node pkg="mbr" type="mbr_logging.py" name="mbr_node" ns="$(arg namespace)"/>
  <node pkg="ubiquiti" type="ubiquiti_node.py" name="ubiquity" ns="$(arg namespace)"/>

  <rosparam command="load" file="$(find ben_hardware)/config/operator.yaml" ns="$(arg namespace)"/>

  <include file="$(find project11)/launch/operator_loggers_mystique.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="logDirectory" value="$(arg logDirectory)"/>
  </include>

</launch>



