<launch>
  <arg name="namespace"/>
  <arg name="enableBridge" default="true"/>
  <arg name="localPort" default="4200"/>
  <arg name="override_mpc" default="false"/>

  <rosparam command="load" file="$(find project11)/config/robot.yaml" ns="$(arg namespace)"/>

  <node if="$(arg enableBridge)" pkg="udp_bridge" type="udp_bridge_node" name="udp_bridge" ns="$(arg namespace)">
    <param name="port" value="$(arg localPort)"/>
  </node>
    
  <node pkg="command_bridge" type="command_bridge_receiver_node.py" name="command_bridge_receiver" ns="$(arg namespace)"/>

  <node pkg="mru_transform" type="mru_transform_node" name="mru_transform" ns="$(arg namespace)">
    <param name="base_frame" value="$(arg namespace)/base_link"/>
    <param name="map_frame" value="$(arg namespace)/map"/>
    <param name="odom_frame" value="$(arg namespace)/odom"/>
  </node>

  <node pkg="mission_manager" type="mission_manager_node.py" name="mission_manager" output="screen" ns="$(arg namespace)"/>
    <!--<node pkg="survey_manager" type="survey_manager_node" name="survey_manager"/>-->

  <node pkg="dubins_curves" type="dubins_curves_node" name="dubins_curves" ns="$(arg namespace)"/>

  <include file="$(find path_follower)/launch/path_follower.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="base_frame" value="$(arg namespace)/base_link"/>
    <arg name="map_frame" value="$(arg namespace)/map"/>
    <arg name="cmd_vel_topic" value="piloting_mode/autonomous/cmd_vel"/>
    <arg name="enable_topic" value="piloting_mode/autonomous/active"/>
  </include>

  <node if="$(arg override_mpc)" pkg="path_follower" type="mpc_adapter_node" name="mpc_adapter" ns="$(arg namespace)">
    <param name="map_frame" value="$(arg namespace)/map"/>
  </node>

  <node pkg="hover" type="hover_node" name="hover_action" ns="$(arg namespace)">
    <param name="base_frame" value="$(arg namespace)/base_link"/>
    <param name="map_frame" value="$(arg namespace)/map"/>
    <remap from="cmd_vel" to="piloting_mode/autonomous/cmd_vel"/>
    <remap from="enable" to="piloting_mode/autonomous/active"/>
  </node>

    
  <node pkg="path_planner" type="path_planner_node" name="path_planner" ns="$(arg namespace)">
    <param name="map_frame" value="$(arg namespace)/map"/>
  </node>

  <node unless="$(arg override_mpc)" pkg="mpc" type="mpc_node" name="mpc" ns="$(arg namespace)">
    <remap from="helm" to="piloting_mode/autonomous/helm"/>
    <param name="map_frame" value="$(arg namespace)/map"/>
  </node>
  
  <node pkg="helm_manager" type="helm_manager_node" name="helm_manager" ns="$(arg namespace)">
    <remap from="out/helm" to="control/helm"/>
    <remap from="out/cmd_vel" to="control/cmd_vel"/>
    <remap from="heartbeat" to="project11/heartbeat"/>
    <remap from="status/helm" to="project11/status/helm"/>
    <remap from="piloting_mode" to="project11/piloting_mode"/>
    <param name="piloting_mode_prefix" value="piloting_mode/"/>
  </node>

</launch>
