<launch>
  <arg name="namespace"/>
  <arg name="enableBridge" default="true"/>
  <arg name="localPort" default="4200"/>
  <arg name="override_mpc" default="false"/>
  <arg name="old_nav_stack" default="true"/>

  <rosparam command="load" file="$(find project11)/config/robot.yaml" ns="$(arg namespace)"/>

  <node if="$(arg enableBridge)" pkg="udp_bridge" type="udp_bridge_node" name="udp_bridge" ns="$(arg namespace)">
    <param name="port" value="$(arg localPort)"/>
  </node>
    
  <node pkg="command_bridge" type="command_bridge_receiver_node.py" name="command_bridge_receiver" ns="$(arg namespace)"/>

  <node pkg="mru_transform" type="mru_transform_node" name="mru_transform" ns="$(arg namespace)">
    <param name="base_frame" value="$(arg namespace)/base_link"/>
    <param name="map_frame" value="$(arg namespace)/map"/>
    <param name="odom_frame" value="$(arg namespace)/odom"/>
    <remap from="nav/position" to="project11/nav/position"/>
    <remap from="nav/orientation" to="project11/nav/orientation"/>
    <remap from="nav/velocity" to="project11/nav/velocity"/>
    <remap from="nav/active_sensor" to="project11/nav/active_sensor"/>
    <remap from="odom" to="project11/odom"/>
  </node>

  <include if="$(arg old_nav_stack)" file="$(find project11)/launch/old_nav_stack.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="override_mpc" value="$(arg override_mpc)"/>
1  </include>
  
  <node pkg="helm_manager" type="helm_manager_node" name="helm_manager" ns="$(arg namespace)">
    <remap from="out/helm" to="project11/control/helm"/>
    <remap from="out/cmd_vel" to="project11/control/cmd_vel"/>
    <remap from="heartbeat" to="project11/heartbeat"/>
    <remap from="status/helm" to="project11/status/helm"/>
    <remap from="piloting_mode" to="project11/piloting_mode"/>
    <param name="piloting_mode_prefix" value="project11/piloting_mode/"/>
  </node>

</launch>
