<launch>
  
<!--  

To launch the docker based simulator, in a seperate terminal, run:

roscd echo_helm/scripts
./start_ardupilot_docker_sim.bash 


-->
  
  <arg name="namespace" default="echo"/>
  <arg name="operator_namespace" default="operator"/>
  
<!--   <param name="/use_sim_time" type="bool" value="true"/> -->
  <rosparam command="load" file="$(find project11)/parameters/echo.yaml" ns="$(arg namespace)"/>
  <rosparam command="load" file="$(find project11)/parameters/sim_unh_pier.yaml" ns="$(arg namespace)"/>

  <arg name="override_mpc" default="false"/>
  <node if="$(arg override_mpc)" pkg="path_follower" type="mpc_adapter_node" name="mpc_adapter" ns="$(arg namespace)"/>
    
  <include file="$(find project11)/launch/vehicle_core.launch">
    <arg name="host" value="localhost"/>
    <arg name="override_mpc" value="$(arg override_mpc)"/>
    <arg name="namespace" default="$(arg namespace)"/>
  </include>
  
  <include file="$(find project11)/launch/operator_core.launch">
    <arg name="host" value="localhost"/>
    <arg name="operator_transformations" value="0"/>
    <arg name="operator_joystick" value="1"/>
    <arg name="namespace" default="$(arg operator_namespace)"/>
  </include>
    
  <include file="$(find project11)/launch/operator_ui.launch">
    <arg name="namespace" default="$(arg operator_namespace)"/>
  </include>

  <node pkg="mru_transform" type="sensor_sync_node" name="sensor_sync" ns="$(arg namespace)">
    <param name="outTopicPrefix" value="sensors/mru/"/>
    <remap from="in/position" to="mavros/global_position/global"/>
    <remap from="in/orientation" to="mavros/imu/data"/>
    <remap from="in/velocity" to="mavros/global_position/raw/gps_vel"/>
  </node>
  
  <node pkg="echo_helm" type="echo_helm_node" name="echo_helm" ns="$(arg namespace)">
    <remap from="cmd_vel" to="control/helm"/>
  </node>
  
  <include file="$(find mavros)/launch/apm.launch" ns="$(arg namespace)">
    <arg name="fcu_url" value="tcp://0.0.0.0:5760@"/>
    <arg name="gcs_url" value="udp://@127.0.0.1:14550"/>
    <param name="global_position/tf/send" value="false"/>
    <param name="local_position/tf/send" value="false"/>
  </include>

</launch>
