<launch>
    <param name="/use_sim_time" type="bool" value="true"/>

<!--    <param name="dynamics_max_power" type="double" value="20000.0"/>
    <param name="dynamics_max_speed" type="double" value="10.0"/>-->
    
    <rosparam command="load" file="$(find project11)/parameters/sim_unh_pier.yaml" />
    
    <include file="$(find project11)/launch/vehicle_core.launch">
        <arg name="host" value="localhost"/>
    </include>
    <include file="$(find project11)/launch/operator_core.launch">
        <arg name="host" value="localhost"/>
        <arg name="operator_transformations" value="0"/>
        <arg name="operator_joystick" value="0"/>
    </include>
    
    <node pkg="asv_helm" type="asv_helm_node" name="asv_helm"/>
    <node pkg="asv_sim" type="asv_sim_node.py" name="asv_sim_node"/>
    
    <arg name="bathy_grid_path" default="$(find mbes_sim)/data/US5NH02M.tiff"/>
    <node pkg="mbes_sim" type="mbes_sim_node.py" name="mbes_sim" args="$(arg bathy_grid_path)"/>
    
    <node pkg="joy" type="joy_node" name="joy_node_dynamic_obstacle_0">
        <remap from="joy" to="joy_0"/>
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="autorepeat_rate" value="10" />
    </node>
    <node pkg="joy" type="joy_node" name="joy_node_dynamic_obstacle_1">
        <remap from="joy" to="joy_1"/>
        <param name="dev" type="string" value="/dev/input/js1" />
        <param name="autorepeat_rate" value="10" />
    </node>
    <node pkg="joy" type="joy_node" name="joy_node_dynamic_obstacle_2">
        <remap from="joy" to="joy_2"/>
        <param name="dev" type="string" value="/dev/input/js2" />
        <param name="autorepeat_rate" value="10" />
    </node>
    <node pkg="joy" type="joy_node" name="joy_node_dynamic_obstacle_3">
        <remap from="joy" to="joy_3"/>
        <param name="dev" type="string" value="/dev/input/js3" />
        <param name="autorepeat_rate" value="10" />
    </node>

    <node pkg="traffic_sim" type="traffic_sim_node.py" name="traffic_sim"/>

</launch>
